.container{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.image{
    text-align: center;
}

.img{
    width: 250px;
    height: 250px;
    margin-bottom: 20px;
}
.card-img-top{
    width: 100px;
    height: 100px;
}
.row{
    margin-bottom: 20px;
}

.footer{
    display: inline-block;
    width: 100%;
    background-color: #132c33;
    text-align: center;
    font-size: 15px;
    color: white;
}